@{
    ViewBag.Title = "LocTOP Videos";
}

<div class="jumbotron">
    <h1>LocTOP Videos</h1>
    <p class="lead">LocTOP Videos - A new way to rent films.</p>
    <p><a href="https://www.instagram.com/rezendejuju" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>How to start:</h2>
        <p>
           Select the film of your preference and be happy!!
        </p>
        <p><a class="btn btn-default" href="https://www.instagram.com/rezendejuju">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Be free!</h2>
        <p>Dont have to pay!</p>
        <p><a class="btn btn-default" href="https://www.instagram.com/rezendejuju">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Be yourself!</h2>
        <p>You can easily find a way to express yourself!!</p>
        <p><a class="btn btn-default" href="https://www.instagram.com/rezendejuju">Learn more &raquo;</a></p>
    </div>
</div>