@model Vidly.ViewModels.RandomMovieViewModel

@{
    ViewBag.Tittle = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="popular">Movies</h2>
@Html.ActionLink("New Movie", "New", "Movies" , null, new { @class = "btn btn-primary btn-lg" })

<p></p>
@if (Model.Movie.Count == 0)
{
    <text>There is no movies.</text>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Movie</th>
                <th>Genre</th>
            </tr>
        </thead>

        @foreach (var movie in Model.Movie)
        {
            <tr>
                <td>@Html.ActionLink(movie.Name, "Edit", new { id = movie.Id })</td>
                <td>@movie.Genre.Name</td>
            </tr>
        }
    </table>
}


